name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:jazzy-desktop-full

    steps:
    - uses: actions/checkout@v4

    - name: Install System Dependencies
      run: |
        apt-get update && apt-get install -y \
          build-essential \
          cmake \
          git \
          wget \
          libarmadillo-dev \
          libpcl-dev \
          libeigen3-dev \
          python3-colcon-common-extensions \
          python3-colcon-mixin \
          python3-rosdep

    - name: Install NLopt
      run: |
        git clone -b v2.7.1 https://github.com/stevengj/nlopt.git
        cd nlopt
        mkdir build && cd build
        cmake ..
        make -j$(nproc)
        make install
        ldconfig
        cd ../..
        rm -rf nlopt

    - name: Install ROS Dependencies
      run: |
        rosdep init || true
        rosdep update
        rosdep install --from-paths src --ignore-src -r -y

    - name: Build Workspace
      shell: bash
      run: |
        source /opt/ros/jazzy/setup.bash
        colcon build --packages-up-to plan_bringup --symlink-install --cmake-args -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo
